.content-body{
   /* min-height: 100%; */
    padding: 60px 1rem;
   /* background: #9DCA00*/
    display: block;
	height: 100%

	
}

.navbar-inverse {
    background-color: #005fa7;
    border-color: #84bb30;
}
