.card-container {
  display: flex;
  flex-wrap:wrap;
  gap:16px;
  margin-left: 10px;
  margin-right: 10px;

}
.card {
  flex: 0 0 calc(20% - 16px);
  max-width: calc(20% - 16px);
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform:  scale(1.05);
}
mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
  }

  .header{
    text-align: center;

  }
  .full-width {
    width: 80%;
  }

  .button-row {
    padding-top: 5px;
  }

  .button-row a {
    margin-right: 8px;
    text-align: center;
  }

  .forget-password{
    padding-left: 0px;
  }

  .emailInput{
    padding-top: 10px;
  }

  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }

  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }

