<div class="row">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <P>Slot Booking</P>
      </div>
      <form (ngSubmit)="onSlotBooking()"  [formGroup]="slotBookingForm">
        <div class="emailInput">
          <mat-form-field>
            <mat-label>Choose a Booking Date</mat-label>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter"  formControlName="slotBookingDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
         </div>

        <button mat-flat-button color="primary">Next</button>
      </form>

    </mat-card-content>
  </mat-card>
</div>
<div class="row">
  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>
        Time slot
      </mat-card-title>
    </mat-card-header> -->
    


      <div class="card-container">
        @for( slot of slotBookingData; track slot.slotId) {

          <mat-card class="card">

            <mat-card-content (click)="bookAppointment(slot.slotTime,'11/11/2023')">{{ slot.slotTime }} </mat-card-content>
          </mat-card>
        }
      </div>

  
  <!-- </mat-card> -->
</div>


